
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
  margin:0;
  padding:0;
  background: url('statics/bienvenue.png') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.formLog{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.logwindow{
    padding: 40px;
    border-radius: 10px;
    width: 450px;
    border: solid gray 1px;
    display: flex;
    justify-content: center;
}

.t{
  margin-bottom: 20px;
}

.h{
  margin-top: 15px;
  position: absolute;
  width: 100%;
  bottom: -15px;
}

body{
  background: url('statics/bienvenue.png') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

@media only screen and (max-width: 600px) {
  .logwindow {
      width: 300px;
      border: none
  }
}
