
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLog{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.logwindow{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: solid gray 1px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 200, .2);
    width: 450px;
}

.t{
  margin-bottom: 20px;
}

.h{
  margin-top: 15px;
  position: absolute;
  width: 100%;
  bottom: -15px;
}

@media only screen and (max-width: 600px) {
  .logwindow {
    width: 50%
  }
}
