

.lpage_formLogContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#855745, rgb(234, 255, 228));
}

.lpage_mid{
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    padding-bottom: 10px;
}

.formLog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
}

.lpage_Sidelayout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../media/backgroundimg.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-right: black;
    border-right: solid;
    border-width: 1px;

}


.lpage_linkedin{
    background-color: wheat;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 7px;
    border-top-left-radius: 10px;
    color: midnightblue;
    padding-right: 12px;
}

i{
    margin-left: 10px;
}


.lpage_p{
    padding: 5px;
    text-align: center;
}

.lpage_prog{
    
    position: absolute;
    bottom: 0px;
    background-color: red;
    margin: auto;
    left: 10px;
    right: 10px;
}